extends layout

block content
  .about
    h1= title
    .circle1
      h1 Created by Trainers
      p Fitness Blender was founded by a team of personal trainers who thought fitness should be accessible to everyone, regardless of their income. They also felt like there was a lack of reliable health and fitness information on the web, and too many people in the industry were more focused on monetary gain or appearance than they were on good health. In 2010 they launched Fitness Blender with the goal of providing research-backed fitness content with the intent of keeping the core platform free for everyone.
    br
    .circle2  
      h1 Built by a Diverse Team
      p Our Certified Personal Trainers, Doctors of Physical Therapy, Registered Dietitian Nutritionists, and Licensed Psychologists all work toward Kelli and Daniel’s vision - to create unbiased, gimmick-free, research-backed content, designed to be fun, accessible, and effective. Behind the scenes you’ll find Engineers, Designers, and Operations professionals working hard to provide you with a great experience online, personal customer service, and hassle-free technology.
    br
    .circle3
      h1 Driven by You
      p Since day one, we have relied on our members to guide our content, online features, and even our staff choices. We are always listening to your comments on videos, feedback during beta testing, and special requests in the community. Your input has helped us grow and we sincerely hope our content and features help you on your fitness journey. As a business, we believe good things happen when you put people first.
    br