extends layout

block content
  .help
    .help-text
      h1 Help Page
      h2 Overview
      p This application allows users to book training sessions. You can enter your details, view your bookings, and manage your account. 

      h2 Getting Started
      p To get started with the application:
      ul
        li Go to the <a href="/book">Book Training Session</a> page to enter your details to book a session.
        li After booking, you can view your bookings by going to the <a href="/account">Account</a> page.
      
      h2 Features
      ul
        li Book a training session by providing your first name, last name, and the date of training.
        li View your existing bookings in the account section.
        li (Future Feature) Modify, delete and report on your existing bookings (Phase 2!).
        
      h2 Contact
      p For further assistance, please contact:
      ul
        li Email: arthur.ryskulov@mycit.ie
        li Phone: +353 89 123 4567
