extends layout

block content
  .index
    .row
      .index-p
        h2 The Beginner Friendly Gym
        p 
        |Hi! We’re Fitness Trainer, the newer, friendlier and cooler gym kids on the block.
        | We know our stuff. We know how to get your body strong, how to make you more flexible and how to get your heart pumping the way it should.
        |Basically, we’re Ireland’s fitness boutique that’s focused on you, not your wallet. With cost-effective classes, state of the art equipment and a personalised approach to training,
        |we’re the ultimate beginner-friendly gym that’s focused on making fitness FUN.
        |We want to get you off the scales and onto the mats - stretching out your body in yoga courses, flexing in strength sessions, and getting your heartrate up in cardio classes.
      .index-img
        img(src='../images/gym.jpeg' alt='gym')
       
    .row
      .coach-img
        img(src='../images/coach.jpg' alt='coach')
      .coach-text
        h2 Our heartwarming staff!
        p 
        |We won’t push you or punish you, we’ll guide you and celebrate you.
        |We’ll work with you to hit your targets and change how you incorporate fitness into your day-to-day life.
        |With our help, you’ll leave no stone unturned when it comes to working out.
        |You can find what exercise helps you fuel your fitness fire and smash your health goals.
        |Plus, our qualified personal trainers and teachers are there to support you at every step and make sure you’re getting the most out of your workouts.
        |At Fitness Trainer, numbers don’t measure your success, your confidence and happiness do.

  .ready
    .ready-box
      .ready-text
        p So, are you ready to get started?
      .getstarted
        a(href='/book') Get started here!
      
